# Node.js modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/.pnp
.pnp.js

# Output directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*.swp

# Results JSON file (optional, if you want to exclude it)
results.json
